[Unit]
Description=Clipcat daemon

[Service]
ExecStart=/home/jo/bin/installs/bin/clipcatd --no-daemon
Restart=always
RestartSec=1s

MemoryDenyWriteExecute=yes
NoNewPrivileges=yes
ProtectControlGroups=yes
ProtectKernelTunables=yes
RestrictAddressFamilies=
RestrictRealtime=yes

### FIXME ###
PrivateTmp=yes

# We don't need to do any clean up, so if something hangs (borked xclip, etc),
# it's going to stay that way. Just forcefully kill and get it over with.
TimeoutStopSec=2

[Install]
WantedBy=default.target
