
[Unit]
Description=Starts /home/%I/bin/lock before sleep
Before=sleep.target

[Service]
User=%I
Type=forking
Environment=DISPLAY=:0
ExecStartPre= 
ExecStart=/home/%I/bin/lock

[Install]
WantedBy=sleep.target
