## https://github.com/joukewitteveen/xlogin/blob/master/xlogin%40.service#L8
[Unit]
Description=systemd user session for user %i
After=x@vt7.service systemd-user-sessions.service
Wants=x@vt7.service
Conflicts=getty@tty7.service

[Service]
User=%i
TTYPath=/dev/tty7
PAMName=login
Environment=DISPLAY=:0
WorkingDirectory=/home/%I
Nice=0
ExecStart=/bin/bash -l -c "cd; startx"

[Install]
WantedBy=graphical.target
