[submodule ".omz.custom/plugins/zsh-syntax-highlighting"]
	path = .omz.custom/plugins/syntax-highlight/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".emacs.d/themes/emacs-theme-autumn"]
	path = .emacs.d/themes/emacs-theme-autumn
	url = https://github.com/Gravemind/emacs-theme-autumn.git
[submodule "bin/pacpend-git"]
	path = bin/pacpend-git
	url = https://github.com/Gravemind/pacpend.git
