# Binaries
*.slo
*.lo
*.o
*.so
*.lai
*.la
*.a
*.lib
*.dll
*.so
*.exe
*.out

# CMake
CMakeCache.txt
CMakeFiles
/Makefile
cmake_install.cmake
install_manifest.txt
build/

# Linux
# .*
*~
.directory
*.ktree
*.preprocessed
*.swp.*

# Emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*
.org-id-locations
*_archive

# Vim
.*.sw[a-z]
*.un~
Session.vim

# Windows
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

#
!.gitignore
