#[user]
#	email =
#	name =

[alias]
	st = status
	ci = commit
	co = checkout
	com = commit -m
	s = status -sb
	ss = status -sb .
	d = diff -M
	dc = diff -M --cached

	## branches
	b = branch --sort=version:refname
	ba = branch --sort=version:refname --all
	## git cont REV # shows branch containing REV
	cont = branch --sort=version:refname --all --contains

	su = !git --no-pager diff --name-only --diff-filter=U
	sa = !git --no-pager diff --name-only --diff-filter=A
	sm = !git --no-pager diff --name-only --diff-filter=M
	sd = !git --no-pager diff --name-only --diff-filter=D

	a = add
	## "un-add"
	ua = reset HEAD

	## Usage: git fo BRANCH
	## Fetch BRANCH and update local ref
	fo = "!sh -c 'git fetch origin $1:$1;' -"

	## Usage: git fco BRANCH
	## "git fo BRANCH" then "git checkout BRANCH"
	fco = "!sh -c 'git fo $1; git checkout $1 && git submodule update' -"

	## Fetch prune all
	fp = fetch --all --prune --tags

	## Pull only if fast forward is possible (abort if conflicts)
	pullff = pull --no-rebase --ff-only

	## Clean deleted branches
	cleanbranches = !git branch -vv | grep ': gone]' | awk '{ print $1 }' | xargs -n 1 git branch -d

	## Usage: git magicmerge BRANCH
	## Magic merge
	## -c merge.renamelimit=2048	# increase "follow file rename" limit
	## -X patience					# slower but much smarter merge
	## -X rename-threshold=10		# 2 files with 10% similarities is a rename
	## # -X ignore-space-change		# well, ignore whitespaces
	## -X ignore-space-at-eol		# well, ignore whitespaces eol
	## --no-ff						# dont fast forward, ie always create a commit
	## --no-commit					# dont "auto" commit after merge
	magicmerge = !git -c merge.renamelimit=2048 merge -X patience -X rename-threshold=10 -X ignore-space-at-eol --no-ff --no-commit

	## Log current branch
	l = log --pretty=my --graph --date-order

	## Log current branch, topologic
	lt = log --pretty=my --graph --topo-order

	## Log all
	la = log --pretty=my --graph --date-order --all

	## Log all merge commit only
	ll = log --pretty=my --graph --date-order --all --simplify-by-decoration

	## Log upstream not yet pulled
	lo = log --pretty=my --graph --date-order @..@{upstream}

	## Log all not merged in HEAD
	loa = log --pretty=my --graph --date-order --all --not @

	## Show hide untracked files
	hideuntrack = config --local status.showUntrackedFiles no
	showuntrack = config --local status.showUntrackedFiles normal

## Pretty log format
[pretty]
	my = "%C(bold blue)%h%C(bold red)% D%Creset %C(white)%s %C(green)%an %C(bold blue)%ar%C(reset)"

[format]
	## default pretty format for log/show/whatchanged
	#pretty = my

[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	log = auto
	ui = auto
[color "branch"]
	current = bold green
	local = bold yellow
	remote = bold cyan
[color "status"]
	header = bold white
	added = bold green
	changed = bold blue
	untracked = red
	unmerged = bold red
	branch = yellow

#[column]
#	ui = auto column dense

[tag]
	sort = version:refname

[fetch]
	prune = true
[pull]
	rebase = true
[push]
	default = simple
[merge]
	conflictstyle = diff3
[core]
	## Increase short hash to 10 characters
	abbrev = 10

[core]
	# default:
	# whitespace = blank-at-eol,blank-at-eof,space-before-tab
	whitespace = blank-at-eol,blank-at-eof,space-before-tab,cr-at-eol

	# checkout crlf, commit lf
	# autocrlf = true
	# checkout as is, commit lf
	autocrlf = input
	# checkout as is, commit as is
	# autocrlf = false

[merge]
	tool = meld

[mergetool "emerge"]
	path = /home/jo/bin/emerge-for-git

###	WINDOWS
#[core]
#	autocrlf = true
#	editor = \"C:/Program Files (x86)/emacs-24.3/bin/emacs.exe\"
#	eol = crlf
#[difftool "meld"]
#	cmd = '/c/Program Files (x86)/Meld/meld/meld.exe' \"$LOCAL\" \"$REMOTE\"
