[submodule ".omz.custom/plugins/zsh-syntax-highlighting"]
	path = .omz.custom/plugins/syntax-highlight-git/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".emacs.d/themes/emacs-theme-autumn"]
	path = .my.emacs.d/themes/emacs-theme-autumn
	url = https://github.com/Gravemind/emacs-theme-autumn.git
[submodule "bin/pacpend-git"]
	path = bin/pacpend-git
	url = https://github.com/Gravemind/pacpend.git
[submodule "bin/lsdisk-git"]
	path = bin/lsdisk-git
	url = https://github.com/Gravemind/lsdisk.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule ".omz.custom/plugins/history-substring-search-git/zsh-history-substring-search"]
	path = .omz.custom/plugins/history-substring-search-git/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
[submodule ".emacs.d/elpa-git/zoom"]
	path = .my.emacs.d/elpa-git/zoom
	url = https://github.com/cyrus-and/zoom.git
[submodule ".emacs.d/elpa-git/with-editor"]
	path = .my.emacs.d/elpa-git/with-editor
	url = https://github.com/magit/with-editor.git
[submodule ".emacs.d/elpa-git/use-package"]
	path = .my.emacs.d/elpa-git/use-package
	url = https://github.com/jwiegley/use-package.git
[submodule ".emacs.d/elpa-git/sync-recentf"]
	path = .my.emacs.d/elpa-git/sync-recentf
	url = https://github.com/ffevotte/sync-recentf.git
	ignore = untracked
[submodule ".emacs.d/elpa-git/swiper"]
	path = .my.emacs.d/elpa-git/swiper
	url = https://github.com/abo-abo/swiper.git
[submodule ".emacs.d/elpa-git/rust-mode"]
	path = .my.emacs.d/elpa-git/rust-mode
	url = https://github.com/rust-lang/rust-mode.git
[submodule ".emacs.d/elpa-git/req-package"]
	path = .my.emacs.d/elpa-git/req-package
	url = https://github.com/edvorg/req-package.git
[submodule ".emacs.d/elpa-git/racer"]
	path = .my.emacs.d/elpa-git/racer
	url = https://github.com/racer-rust/emacs-racer.git
	ignore = untracked
[submodule ".emacs.d/elpa-git/pkg-info"]
	path = .my.emacs.d/elpa-git/pkg-info
	url = https://github.com/lunaryorn/pkg-info.el.git
[submodule ".emacs.d/elpa-git/php-mode"]
	path = .my.emacs.d/elpa-git/php-mode
	url = https://github.com/emacs-php/php-mode.git
[submodule ".emacs.d/elpa-git/log4e"]
	path = .my.emacs.d/elpa-git/log4e
	url = https://github.com/aki2o/log4e.git
	ignore = untracked
[submodule ".emacs.d/elpa-git/iy-go-to-char"]
	path = .my.emacs.d/elpa-git/iy-go-to-char
	url = https://github.com/doitian/iy-go-to-char.git
	ignore = untracked
[submodule ".emacs.d/elpa-git/helm-dash"]
	path = .my.emacs.d/elpa-git/helm-dash
	url = https://github.com/dash-docs-el/helm-dash.git
	ignore = untracked
[submodule ".emacs.d/elpa-git/go-mode"]
	path = .my.emacs.d/elpa-git/go-mode
	url = https://github.com/dominikh/go-mode.el.git
[submodule ".emacs.d/elpa-git/gnuplot-mode"]
	path = .my.emacs.d/elpa-git/gnuplot-mode
	url = https://github.com/mkmcc/gnuplot-mode.git
[submodule ".emacs.d/elpa-git/flyspell-correct"]
	path = .my.emacs.d/elpa-git/flyspell-correct
	url = https://github.com/d12frosted/flyspell-correct.git
[submodule ".emacs.d/elpa-git/flycheck-rust"]
	path = .my.emacs.d/elpa-git/flycheck-rust
	url = https://github.com/flycheck/flycheck-rust.git
[submodule ".emacs.d/elpa-git/flycheck-inline"]
	path = .my.emacs.d/elpa-git/flycheck-inline
	url = https://github.com/flycheck/flycheck-inline.git
	ignore = untracked
[submodule ".emacs.d/elpa-git/flx"]
	path = .my.emacs.d/elpa-git/flx
	url = https://github.com/lewang/flx.git
[submodule ".emacs.d/elpa-git/dockerfile-mode"]
	path = .my.emacs.d/elpa-git/dockerfile-mode
	url = https://github.com/spotify/dockerfile-mode.git
	ignore = untracked
[submodule ".emacs.d/elpa-git/disaster"]
	path = .my.emacs.d/elpa-git/disaster
	url = https://github.com/jart/disaster.git
[submodule ".emacs.d/elpa-git/dired-k"]
	path = .my.emacs.d/elpa-git/dired-k
	url = https://github.com/syohex/emacs-dired-k.git
[submodule ".emacs.d/elpa-git/diminish"]
	path = .my.emacs.d/elpa-git/diminish
	url = https://github.com/myrjola/diminish.el.git
	ignore = untracked
[submodule ".emacs.d/elpa-git/diff-hl"]
	path = .my.emacs.d/elpa-git/diff-hl
	url = https://github.com/dgutov/diff-hl.git
	ignore = untracked
[submodule ".emacs.d/elpa-git/demangle-mode"]
	path = .my.emacs.d/elpa-git/demangle-mode
	url = https://github.com/liblit/demangle-mode.git
[submodule ".emacs.d/elpa-git/centered-cursor-mode"]
	path = .my.emacs.d/elpa-git/centered-cursor-mode
	url = https://github.com/andre-r/centered-cursor-mode.el.git
[submodule ".emacs.d/elpa-git/async"]
	path = .my.emacs.d/elpa-git/async
	url = https://github.com/jwiegley/emacs-async.git
[submodule ".emacs.d/elpa-git/ace-jump-mode"]
	path = .my.emacs.d/elpa-git/ace-jump-mode
	url = https://github.com/winterTTr/ace-jump-mode.git
	ignore = untracked
[submodule ".emacs.d/elpa-git/yasnippet"]
	path = .my.emacs.d/elpa-git/yasnippet
	url = https://github.com/joaotavora/yasnippet.git
[submodule ".emacs.d/elpa-git/lua-mode"]
	path = .my.emacs.d/elpa-git/lua-mode
	url = https://github.com/immerrr/lua-mode.git
[submodule ".emacs.d/elpa-git/markdown-mode"]
	path = .my.emacs.d/elpa-git/markdown-mode
	url = https://github.com/jrblevin/markdown-mode.git
[submodule ".emacs.d/elpa-git/helm"]
	path = .my.emacs.d/elpa-git/helm
	url = https://github.com/emacs-helm/helm.git
[submodule ".emacs.d/elpa-git/expand-region"]
	path = .my.emacs.d/elpa-git/expand-region
	url = https://github.com/magnars/expand-region.el.git
[submodule ".emacs.d/elpa-git/auto-highlight-symbol"]
	path = .my.emacs.d/elpa-git/auto-highlight-symbol
	url = https://github.com/gennad/auto-highlight-symbol.git
	ignore = untracked
[submodule ".emacs.d/elpa-git/wgrep"]
	path = .my.emacs.d/elpa-git/wgrep
	url = https://github.com/mhayashi1120/Emacs-wgrep.git
[submodule ".emacs.d/elpa-git/f"]
	path = .my.emacs.d/elpa-git/f
	url = https://github.com/rejeep/f.el.git
	ignore = untracked
[submodule ".emacs.d/elpa-git/discover-my-major"]
	path = .my.emacs.d/elpa-git/discover-my-major
	url = https://framagit.org/steckerhalter/discover-my-major.git
[submodule ".emacs.d/elpa-git/visual-fill-column"]
	path = .my.emacs.d/elpa-git/visual-fill-column
	url = https://codeberg.org/joostkremers/visual-fill-column.git
[submodule ".emacs.d/elpa-git/s"]
	path = .my.emacs.d/elpa-git/s
	url = https://github.com/magnars/s.el.git
	ignore = untracked
[submodule ".emacs.d/elpa-git/pos-tip"]
	path = .my.emacs.d/elpa-git/pos-tip
	url = https://github.com/pitkali/pos-tip.git
	ignore = untracked
[submodule ".emacs.d/elpa-git/popwin"]
	path = .my.emacs.d/elpa-git/popwin
	url = https://github.com/m2ym/popwin-el.git
[submodule ".emacs.d/elpa-git/popup"]
	path = .my.emacs.d/elpa-git/popup
	url = https://github.com/auto-complete/popup-el.git
[submodule ".emacs.d/elpa-git/multiple-cursors"]
	path = .my.emacs.d/elpa-git/multiple-cursors
	url = https://github.com/magnars/multiple-cursors.el.git
[submodule ".emacs.d/elpa-git/makey"]
	path = .my.emacs.d/elpa-git/makey
	url = https://github.com/mickeynp/makey.git
[submodule ".emacs.d/elpa-git/magit"]
	path = .my.emacs.d/elpa-git/magit
	url = https://github.com/magit/magit.git
[submodule ".emacs.d/elpa-git/ivy-rich"]
	path = .my.emacs.d/elpa-git/ivy-rich
	url = https://github.com/Yevgnen/ivy-rich.git
[submodule ".emacs.d/elpa-git/htmlize"]
	path = .my.emacs.d/elpa-git/htmlize
	url = https://github.com/hniksic/emacs-htmlize.git
[submodule ".emacs.d/elpa-git/ht"]
	path = .my.emacs.d/elpa-git/ht
	url = https://github.com/Wilfred/ht.el.git
[submodule ".emacs.d/elpa-git/gnuplot"]
	path = .my.emacs.d/elpa-git/gnuplot
	url = https://github.com/bruceravel/gnuplot-mode.git
[submodule ".emacs.d/elpa-git/flycheck-dmd-dub"]
	path = .my.emacs.d/elpa-git/flycheck-dmd-dub
	url = https://github.com/atilaneves/flycheck-dmd-dub.git
	ignore = untracked
[submodule ".emacs.d/elpa-git/flycheck"]
	path = .my.emacs.d/elpa-git/flycheck
	url = https://github.com/flycheck/flycheck.git
[submodule ".emacs.d/elpa-git/epl"]
	path = .my.emacs.d/elpa-git/epl
	url = https://github.com/cask/epl.git
[submodule ".emacs.d/elpa-git/el-get"]
	path = .my.emacs.d/elpa-git/el-get
	url = https://github.com/dimitri/el-get.git
[submodule ".emacs.d/elpa-git/dtrt-indent"]
	path = .my.emacs.d/elpa-git/dtrt-indent
	url = https://github.com/jscheid/dtrt-indent.git
[submodule ".emacs.d/elpa-git/dash"]
	path = .my.emacs.d/elpa-git/dash
	url = https://github.com/magnars/dash.el.git
[submodule ".emacs.d/elpa-git/d-mode"]
	path = .my.emacs.d/elpa-git/d-mode
	url = https://github.com/Emacs-D-Mode-Maintainers/Emacs-D-Mode.git
[submodule ".emacs.d/elpa-git/cargo"]
	path = .my.emacs.d/elpa-git/cargo
	url = https://github.com/kwrooijen/cargo.el.git
	ignore = untracked
[submodule ".emacs.d/elpa-git/editorconfig"]
	path = .my.emacs.d/elpa-git/editorconfig
	url = https://github.com/editorconfig/editorconfig-emacs.git
[submodule ".emacs.d/elpa-git/transient"]
	path = .my.emacs.d/elpa-git/transient
	url = https://github.com/magit/transient.git
	ignore = untracked
[submodule ".emacs.d/elpa-git/history"]
	path = .my.emacs.d/elpa-git/history
	url = https://github.com/Gravemind/history.git
[submodule ".emacs.d/elpa-git/dash-docs"]
	path = .my.emacs.d/elpa-git/dash-docs
	url = https://github.com/dash-docs-el/dash-docs.git
[submodule ".emacs.d/elpa-git/yaml-mode"]
	path = .my.emacs.d/elpa-git/yaml-mode
	url = https://github.com/yoshiki/yaml-mode.git
[submodule ".emacs.d/elpa-git/dumb-jump"]
	path = .my.emacs.d/elpa-git/dumb-jump
	url = https://github.com/jacktasia/dumb-jump.git
[submodule ".emacs.d/elpa-git/helm-flx"]
	path = .my.emacs.d/elpa-git/helm-flx
	url = https://github.com/PythonNut/helm-flx.git
[submodule ".emacs.d/elpa-git/org-bullets"]
	path = .my.emacs.d/elpa-git/org-bullets
	url = https://github.com/sabof/org-bullets.git
	ignore = untracked
[submodule ".emacs.d/elpa-git/flycheck-grammalecte"]
	path = .my.emacs.d/elpa-git/flycheck-grammalecte
	url = https://github.com/milouse/flycheck-grammalecte.git
	branch = main
[submodule ".my.emacs.d/elpa-git/evil"]
	path = .my.emacs.d/elpa-git/evil
	url = https://github.com/emacs-evil/evil.git
[submodule ".my.emacs.d/elpa-git/evil-collection"]
	path = .my.emacs.d/elpa-git/evil-collection
	url = https://github.com/emacs-evil/evil-collection.git
[submodule ".my.emacs.d/elpa-git/emacs-which-key"]
	path = .my.emacs.d/elpa-git/emacs-which-key
	url = https://github.com/justbur/emacs-which-key.git
[submodule ".my.emacs.d/elpa-git/goto-chg"]
	path = .my.emacs.d/elpa-git/goto-chg
	url = https://github.com/emacs-evil/goto-chg.git
	ignore = untracked
[submodule ".my.emacs.d/elpa-git/key-chord"]
	path = .my.emacs.d/elpa-git/key-chord
	url = https://github.com/emacsorphanage/key-chord.git
	ignore = untracked
[submodule ".my.emacs.d/elpa-git/evil-nerd-commenter"]
	path = .my.emacs.d/elpa-git/evil-nerd-commenter
	url = https://github.com/redguardtoo/evil-nerd-commenter.git
[submodule ".my.emacs.d/elpa-git/evil-surround"]
	path = .my.emacs.d/elpa-git/evil-surround
	url = https://github.com/emacs-evil/evil-surround.git
[submodule ".my.emacs.d/elpa-git/annalist"]
	path = .my.emacs.d/elpa-git/annalist
	url = https://github.com/noctuid/annalist.el.git
[submodule ".my.emacs.d/elpa-git/better-jumper"]
	path = .my.emacs.d/elpa-git/better-jumper
	url = https://github.com/gilbertw1/better-jumper.git
	ignore = untracked
[submodule ".my.emacs.d/elpa-git/evil-lion"]
	path = .my.emacs.d/elpa-git/evil-lion
	url = https://github.com/edkolev/evil-lion.git
	ignore = untracked
[submodule ".my.emacs.d/elpa-git/projectile"]
	path = .my.emacs.d/elpa-git/projectile
	url = https://github.com/bbatsov/projectile.git
[submodule ".my.emacs.d/elpa-git/evil-indent-plus"]
	path = .my.emacs.d/elpa-git/evil-indent-plus
	url = https://github.com/TheBB/evil-indent-plus.git
	ignore = untracked
[submodule ".my.emacs.d/elpa-git/evil-args"]
	path = .my.emacs.d/elpa-git/evil-args
	url = https://github.com/wcsmith/evil-args.git
	ignore = untracked
[submodule ".my.emacs.d/elpa-git/evil-goggles"]
	path = .my.emacs.d/elpa-git/evil-goggles
	url = https://github.com/edkolev/evil-goggles.git
[submodule ".my.emacs.d/elpa-git/helm-ls-git"]
	path = .my.emacs.d/elpa-git/helm-ls-git
	url = https://github.com/emacs-helm/helm-ls-git.git
[submodule ".my.emacs.d/elpa-git/helm-org"]
	path = .my.emacs.d/elpa-git/helm-org
	url = https://github.com/emacs-helm/helm-org.git
	ignore = untracked
[submodule ".my.emacs.d/elpa-git/helm-descbinds"]
	path = .my.emacs.d/elpa-git/helm-descbinds
	url = https://github.com/emacs-helm/helm-descbinds.git
[submodule "bin/git-archive-recursive-git"]
	path = bin/git-archive-recursive-git
	url = https://github.com/Gravemind/git-archive-recursive.git
	branch = master
[submodule "bin/git-rebase-all-git"]
	path = bin/git-rebase-all-git
	url = https://github.com/Gravemind/git-rebase-all.git
	branch = master
[submodule ".my.emacs.d/elpa-git/base16-emacs"]
	path = .my.emacs.d/elpa-git/base16-emacs
	url = https://github.com/belak/base16-emacs.git
	branch = master
[submodule ".my.emacs.d/elpa-git/evil-traces"]
	path = .my.emacs.d/elpa-git/evil-traces
	url = https://github.com/mamapanda/evil-traces.git
	branch = master
[submodule ".my.emacs.d/elpa-git/evil-quick-diff"]
	path = .my.emacs.d/elpa-git/evil-quick-diff
	url = https://github.com/rgrinberg/evil-quick-diff.git
	branch = master
	ignore = untracked
[submodule ".my.emacs.d/elpa-git/elisp-refs"]
	path = .my.emacs.d/elpa-git/elisp-refs
	url = https://github.com/Wilfred/elisp-refs.git
	branch = master
[submodule ".my.emacs.d/elpa-git/helpful"]
	path = .my.emacs.d/elpa-git/helpful
	url = https://github.com/Wilfred/helpful.git
	branch = master
[submodule ".my.emacs.d/elpa-git/ws-butler"]
	path = .my.emacs.d/elpa-git/ws-butler
	url = https://github.com/lewang/ws-butler.git
	branch = master
	ignore = untracked
[submodule ".my.emacs.d/elpa-git/evil-markdown"]
	path = .my.emacs.d/elpa-git/evil-markdown
	url = https://github.com/Somelauw/evil-markdown.git
	branch = master
[submodule ".my.emacs.d/elpa-git/evil-org-mode"]
	path = .my.emacs.d/elpa-git/evil-org-mode
	url = https://github.com/Somelauw/evil-org-mode.git
	ignore = untracked
	branch = master
[submodule ".my.emacs.d/elpa-git/explain-pause-mode"]
	path = .my.emacs.d/elpa-git/explain-pause-mode
	url = https://github.com/lastquestion/explain-pause-mode.git
	branch = master
[submodule ".my.emacs.d/elpa-git/xterm-color"]
	path = .my.emacs.d/elpa-git/xterm-color
	url = https://github.com/atomontage/xterm-color.git
	branch = master
[submodule ".my.emacs.d/elpa-git/magit-delta"]
	path = .my.emacs.d/elpa-git/magit-delta
	url = https://github.com/dandavison/magit-delta.git
	ignore = untracked
	branch = master
[submodule ".my.emacs.d/elpa-git/helm-xref"]
	path = .my.emacs.d/elpa-git/helm-xref
	url = https://github.com/brotzeit/helm-xref.git
	ignore = untracked
	branch = master
[submodule ".my.emacs.d/elpa-git/evil-mc"]
	path = .my.emacs.d/elpa-git/evil-mc
	url = https://github.com/gabesoft/evil-mc.git
	ignore = untracked
	branch = master
[submodule ".my.emacs.d/elpa-git/rustic"]
	path = .my.emacs.d/elpa-git/rustic
	url = https://github.com/brotzeit/rustic.git
	branch = master
[submodule ".my.emacs.d/elpa-git/benchmark-init-el"]
	path = .my.emacs.d/elpa-git/benchmark-init-el
	url = https://github.com/dholm/benchmark-init-el.git
	branch = master
[submodule ".my.emacs.d/elpa-git/spinner"]
	path = .my.emacs.d/elpa-git/spinner
	url = https://github.com/Malabarba/spinner.el
	branch = master
[submodule ".my.emacs.d/elpa-git/compat"]
	path = .my.emacs.d/elpa-git/compat
	url = https://git.sr.ht/~pkal/compat
	branch = master
[submodule ".my.emacs.d/elpa-git/docker-tramp"]
	path = .my.emacs.d/elpa-git/docker-tramp
	url = https://github.com/emacs-pe/docker-tramp.el
	branch = master
[submodule ".my.emacs.d/elpa-git/eglot"]
	path = .my.emacs.d/elpa-git/eglot
	url = https://github.com/joaotavora/eglot
	branch = master
[submodule ".my.emacs.d/elpa-git/consult"]
	path = .my.emacs.d/elpa-git/consult
	url = https://github.com/minad/consult.git
	branch = main
[submodule ".my.emacs.d/elpa-git/marginalia"]
	path = .my.emacs.d/elpa-git/marginalia
	url = https://github.com/minad/marginalia.git
	branch = main
[submodule ".my.emacs.d/elpa-git/orderless"]
	path = .my.emacs.d/elpa-git/orderless
	url = https://github.com/oantolin/orderless.git
	branch = master
[submodule ".my.emacs.d/elpa-git/vertico"]
	path = .my.emacs.d/elpa-git/vertico
	url = https://github.com/minad/vertico.git
	branch = main
