
# tested on urxvt
# applies to readline (gdb, python, profanity, ...), bash, ...
# but not zsh, see ~/.omz.custom/key-bindings.zsh

# For emacs tramp
$if term=dumb
# no configs: can break emacs tramp !
$else

"\eOc": forward-word       # [Ctrl-Right]
"\eOd": backward-word      # [Ctrl-Left]
"\C-h": backward-kill-word # [Ctrl-Backspace]

# "\e[3^": kill-word         # [Ctrl-Del]
# "\e[8^": end-of-line       # [Ctrl-End]
# "\e[7^": beginning-of-line # [Ctrl-Home]

# safer paste
# https://cirw.in/blog/bracketed-paste
set enable-bracketed-paste on

# Bash: cycle completion candidates inplace instead of showing them all
#"\t": menu-complete

# Bash: add completion color
set menu-complete-display-prefix on
set colored-completion-prefix on
set colored-stats on

# Bash: TAB completes immediately
set show-all-if-ambiguous on	# always displays candidates if ambigious
#set show-all-if-unmodified on  # ... but not if prefix was found and added

$endif