!
! xrdb ~/.Xresources
!

*cursorColor: #ffff00
*background:  #202020
*foreground:  #b0b0b0
!white
*color7:      #b0b0b0
*color15:     #e0e0e0
!black
*color0:      #000000
*color8:      #666666

! red gren blue yellow cyan magenta
*color1: #bd5959
*color2: #6fae6f
*color4: #4e789d
*color3: #b6a849
*color6: #55aaa7
*color5: #a15e7a
*color9: #c96969
*color10: #8dca8d
*color12: #5b90bf
*color11: #d2c360
*color14: #6cc6c3
*color13: #bb7793

URxvt*urgentOnBell:     true

URxvt*loginShell:       true
URxvt*saveLines:        300000  ! 500M ram usage (RES) `cat -e /dev/urandom`
URxvt*buffered:         true
!URxvt*font:             xft:DejaVu Sans Mono:size=9
! URxvt*font:             xft:DejaVu Sans Mono:size=9,\
!                         xft:Font Awesome 5 Free Solid:size=9,\
!                         xft:Font Awesome 5 Free Solid:size=8,\
!                         xft:Font Awesome 5 Free Solid:size=7,\
!                         xft:Font Awesome 5 Free Solid:size=6
URxvt*font:             xft:Hack:size=8,\
                        xft:Font Awesome 5 Free Solid:size=9,\
                        xft:Font Awesome 5 Free Solid:size=8,\
                        xft:Font Awesome 5 Free Solid:size=7,\
                        xft:Font Awesome 5 Free Solid:size=6,\
                        xft:Font Awesome 5 Free Solid:size=5,
! fixes font spacing
URxvt.letterSpace:      -1
URxvt*scrollBar_right:  false
URxvt*scrollBar:        false

! Fake transparency (using wallpaper)
URxvt*transparent:      true
URxvt*shading:          18
URxvt*blurRadius:       17
!URxvt*tintColor:       #101010
!URxvt*backgroundPixmap: ~/.config/i3/wallpaper.blured.png
! True transparency (using composite manager):
! URxvt*depth: 32
! URxvt*background:  [90]#202020

URxvt*scrollTtyOutput:      false
URxvt*scrollWithBuffer:     true
URxvt*scrollTtyKeypress:    true

! Default cut char with /!: added
URxvt.cutchars: \ `\"\'&()*,;<=>?@[]^{|}/\!:
! More clicks select: inside quotes
URxvt.selection.pattern-0: "([^\"]+)"
URxvt.selection.pattern-1: '([^\']+)'
! More clicks select: Colon-seperated list (inside quotes)
URxvt.selection.pattern-2: ([^:\"\']+)
! More clicks select: Semicolon-seperated list (inside quotes)
URxvt.selection.pattern-3: ([^;\"\']+)

! Extensions (urxvt-perls):
!   - matcher: Clickable URL
!   - keyboard-select: vim-style selection via keyboard (/usr/lib/urxvt/perl/keyboard-select)
URxvt.perl-ext-common:  default,matcher,keyboard-select
URxvt.matcher.button:   2
URxvt.url-launcher:     /usr/bin/firefox
URxvt.keysym.M-u:       perl:keyboard-select:activate
!URxvt.keysym.M-s:       perl:keyboard-select:search

! Fontconfig for some programs (emacs)
! For others, see ~/.config/fontconfig/conf.d (firefox, urxvt)
Xft.autohint:       0
Xft.antialias:      1
Xft.hinting:        1
Xft.hintstyle:      hintslight
Xft.lcdfilter:      lcdnone
Xft.rgba:           none

! Dpi for some programs (emacs, urxvt, firefox !?)
! For others, see ~/.config/fontconfig/conf.d, and X11/xrandr
! ("110x110" is an invalid format)
Xft.dpi:            110

! Mouse cursor
Xcursor.theme:    Adwaita
Xcursor.size:     32

! Nice flicker-free emacs startup !
! (evaluated much sooner than init.el)
emacs.menuBar:              off
emacs.toolBar:              off
emacs.verticalScrollBars:   off
!emacs.font:                 DejaVu Sans Mono-9
emacs.font:                 Hack-8
emacs.background:           #202020
emacs.cursorBlink:          off
